.header,
header {
    .navbar-expand-lg {

        .navbar-collapse {
            justify-content: center;
        }

        .navbar-toggler {
            border: 1px solid $colorTexto;

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(198, 244, 241, 0.99)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
        }
    }

    .menu {
        backdrop-filter: blur(3rem);

        .navbar-nav {
            margin-inline: auto;

            .active {
                a {
                    border-bottom: 3px solid $colorTexto;
                    color: $colorTexto;
                }
            }

            .nav-item a {
                &:hover {
                    color: $colorTexto;
                }

            }

        }


        li a {
            color: $colorTexto;
            font-size: 1.3rem;
            text-decoration: none;
            position: relative;
            margin-inline: 1rem;
            padding: 2px;
            width: max-content;

            &::after {
                content: "";
                position: absolute;
                display: block;
                height: 2px;
                width: 0%;
                background-color: $colorTexto;
                bottom: -2px;
                left: 0px;
                transition: all ease-in-out 200ms;
            }

            &:hover {
                &:not(.navbar-nav > .active > a) {
                    &::after {
                        width: 100%;
                    }


                }
            }

        }
    }

}

