@media (max-width:479.98px) {
    h1 {
        font-size: $fontsize + .3rem;
    }

    p {
        font-size: $fontsize - .1rem;
        padding: 10px 2rem;
        margin-bottom: 0;
    }


    .header,
    header {
        .navbar-expand-lg {

            .navbar-toggler-icon {
                vertical-align: baseline;
                width: 0.9rem;
                height: 0.9rem;
            }
        }

        .menu {
            flex-direction: column;

            li {
                a {
                    font-size: $fontsize + .2rem;
                }
            }
        }
    }

    .contenido {
        max-width: 400px;

        .accordion-flush {
            --bs-accordion-btn-icon-width: .9rem;
            --bs-accordion-btn-padding-x: 1rem;

            .accordion-item {

                .accordion-body {

                    p {
                        font-size: $fontsize - .1rem;
                    }
                }

                .accordion-header {

                    .accordion-button {
                        font-size: $fontsize;

                        &::after {
                            margin-left: 1rem;
                        }
                    }

                }

            }

        }


        .tarjeta {
            flex-direction: column;
            margin-top: 2rem;
        }

        .contenido__subtitulo {
            font-size: $fontsize;
            padding-left: 1.4rem;
        }


        .contenido__subtitulo--alt {
            font-size: $fontsize;
            padding-left: 5px;
            padding-bottom: 0;
        }

        .seccion {
            flex-direction: column;
            align-items: center;

            a {
                width: 8rem;
                height: 8rem;
                font-size: $fontsize;
                padding-inline: 2px;
            }
        }


        .contenido__lista,
        .contenido__lista--alt {
            font-size: $fontsize - .1rem;
            padding: 0 1rem;
            margin-bottom: 0;
        }

        .contenido__lista--alt {
            li {
                margin: 1.2rem;
            }
        }

        .contenido__tabla {

            th {
                font-size: $fontsize - .1rem;
            }


            .contenido__tabla__titulo {
                font-size: $fontsize - .1rem;
                font-weight: 500;
            }


            .contenido__tabla__ventajas,
            .contenido__tabla__desventajas {
                font-size: $fontsize - .1rem;
            }

        }


        .contenido__textformulario {
            font-size: $fontsize - .1rem;
        }

        form {
            textarea {
                font-size: $fontsize - .3rem;
                max-width: 250px;
                max-height: 150px;
            }

            input {
                font-size: $fontsize - .3rem;
                
            }

            input[type='submit'] {
                font-size: $fontsize - .3rem;
            }
        }

    }


    .piepagina {
        justify-content: center;

        .piepagina__indice {
            display: none;
        }

        .piepagina__redesociales {
            padding-left: 0;
            gap: 1rem;
        }
    }

}

@media (min-width:480px) and (max-width:767.98px) {
    h1 {
        font-size: $fontsize + .4rem;
    }

    p {
        font-size: $fontsize;
    }

    .header,
    header {
        .navbar-expand-lg {

            .navbar-toggler-icon {
                vertical-align: baseline;
                width: 1rem;
                height: 1rem;
            }
        }

        .menu {
            flex-direction: column;

            li {
                a {
                    font-size: $fontsize + .2rem;
                }
            }
        }
    }


    .contenido {
        max-width: 500px;


        .accordion-flush {
            --bs-accordion-btn-icon-width: 1rem;

            .accordion-item {

                .accordion-body {

                    p {
                        font-size: $fontsize;
                    }
                }

                .accordion-header {

                    .accordion-button {
                        font-size: $fontsize;

                        &::after {
                            margin-left: 2rem;
                        }
                    }

                }

            }

        }


        .tarjeta {
            flex-direction: column;
            margin-top: 2rem;
        }

        .contenido__subtitulo,
        .contenido__subtitulo--alt {
            font-size: $fontsize;
        }

        .seccion {

            a {
                width: 8rem;
                height: 8rem;
                font-size: $fontsize + .1rem;
                padding-inline: 2px;
            }
        }

        .contenido__tabla {

            th {
                font-size: $fontsize;
            }


            .contenido__tabla__titulo {
                font-size: $fontsize;
                font-weight: 600;
            }


            .contenido__tabla__ventajas,
            .contenido__tabla__desventajas {
                font-size: $fontsize;
            }

        }

        .contenido__lista,
        .contenido__lista--alt {
            font-size: $fontsize;
        }

        .contenido__textformulario {
            font-size: $fontsize;
        }

        form {
            textarea {
                font-size: $fontsize - .3rem;
            }

            input {
                font-size: $fontsize - .3rem;
            }

            input[type='submit'] {
                font-size: $fontsize - .3rem;
            }
        }

    }


    .piepagina {
        justify-content: center;

        .piepagina__indice {
            display: none;
        }

        .piepagina__redesociales {
            padding-left: 0;
            gap: 2rem;
        }
    }

    .piepagina__redesociales {
        padding-left: 0;
        gap: 2rem;
    }

}

@media screen and (min-width:768px) and (max-width:991.98px) {
    h1 {
        font-size: $fontsize + .4rem;
    }

    p {
        font-size: $fontsize;
    }


    .header,
    header {
        .navbar-expand-lg {

            .navbar-toggler-icon {
                vertical-align: baseline;
                width: 1.1rem;
                height: 1.1rem;
            }
        }

        .menu {
            flex-direction: column;

            li {
                a {
                    font-size: $fontsize + .3rem;
                }
            }
        }
    }


    .contenido {
        max-width: 600px;


        .accordion-flush {
            --bs-accordion-btn-icon-width: 1rem;

            .accordion-item {

                .accordion-body {

                    p {
                        font-size: $fontsize;
                    }
                }

                .accordion-header {

                    .accordion-button {
                        font-size: $fontsize + .1rem;
                        font-weight: 400;
                    }

                }

            }

        }

        .tarjeta {
            flex-direction: column;
            margin-top: 2rem;
        }

        .contenido__subtitulo,
        .contenido__subtitulo--alt {
            font-size: $fontsize + .1rem;
        }

        .contenido__tabla {

            th {
                font-size: $fontsize + .1rem;
            }


            .contenido__tabla__titulo {
                font-size: $fontsize + .1rem;
                font-weight: 600;
            }


            .contenido__tabla__ventajas,
            .contenido__tabla__desventajas {
                font-size: $fontsize + .1rem;
            }

        }

        .contenido__lista,
        .contenido__lista--alt {
            font-size: $fontsize + .1rem;
        }

        .contenido__textformulario {
            font-size: $fontsize + .1rem;
        }

        form {
            textarea {
                font-size: $fontsize - .2rem;
            }

            input {
                font-size: $fontsize - .2rem;
            }

            input[type='submit'] {
                font-size: $fontsize - .2rem;
            }
        }

    }


    .piepagina {
        justify-content: center;

        .piepagina__indice {
            display: none;
        }

        .piepagina__redesociales {
            padding-left: 0;
            gap: 2rem;
        }
    }

    .piepagina__redesociales {
        padding-left: 0;
        gap: 2rem;
    }

}